@media(max-width:600px)
{
    .cardset{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: 40px;

    }
}